@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');

body {

  font-family: "Rubik Broken Fax", system-ui;
  font-weight: 400;
  font-style: normal;
  background-image: url(La\ Cuadra\ Universitaria.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: rgb(11, 242, 46);
  text-shadow: 
    -1px -1px 0 #621683,  
    1px -1px 0 #621683,
    -1px 1px 0#621683,
    1px 1px 0#621683;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #730bb0;
  color: #fff;
  border: none;
  border-radius: 3px;
}

button:active {
  transform: scale(0.95);
}

#mi-imagen {
  background-image: url(mario.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#guess-button:disabled {
  background-color: #3d3a3a;
}

.letter {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 2px;
  font-size: 24px;
  line-height: 40px;
  border-radius: 4px;
}

.row {
  margin-bottom: 20px;
}

.input-area {
  margin: 30px;
}

#grid {
  margin: 0 auto;
  text-align: center;
}

.centered {
  text-align: center;
}

.GAMEOVER {
  color: rgb(239, 234, 234);
}